

{
    margin: 0;
    padding; 0;
    text-decoration: none;
    list-style: none;
    
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto;
    
    background: url(../img/fondo2.png) no-repeat center top;
    background-size: cover;
}

.main-header{
    background-color: var(--color-header);
    color: var(--color-white);
    line-height: 5;
    text-align: center;
}

.main-nav{
    /* background: #fff; */
}

.nav-container__item{
    text-align: center;
    line-height: 2.5;
    border-bottom: 1px solid var(--color-white);
}

.nav-container__item:hover{
    background-color: var(--color-nav-dark);
}

.nav-container__link{
    color: var(--color-white);
}

.main-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main-container__section{
    background-color: var(--color-section);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white)
}

.main-container__aside{
    background-color: var(--color-aside);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white)
}

.main-footer{
    background-color: var(--color-footer);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    margin-top: auto;
}